<% unless @error.present? %>
  <div class="content">
    <div class="page-header">
      <h1><%= @user %></h1>
    </div>

    <h3>Top 5 repositories:</h3>
  </div>
  <div class="container">
    <div class="row">
      <div id="stargazers-list" class="col-xs-12 col-md-6">

      </div>
      <div id="forks-list" class="col-xs-12 col-md-6">

      </div>
    </div>
  </div>

  <script>
  $(document).ready(() => {
    let repos = JSON.parse(`<%= @user_repos.to_s.html_safe %>`)

    fillList("stargazers", "warning")
    fillList("forks", "success")

    function sortRepos(element){
      return Object.keys(repos).sort((a,b) => {
        return repos[b][element] - repos[a][element]
      })
    }

    function capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }

    function fillList(name, label){
      let sorted = sortRepos(`${name}_count`)
      let list = $(`#${name}-list`)

      list.empty()

      for(let i = 0; i < sorted.length && i < 5; i+=1){
        let j = sorted[i]

        list.append(`
            <a href='${repos[j].html_url}' class="list-group-item"><strong>${repos[j].name}</strong>
            <span class="label label-${label} pull-right">${capitalizeFirstLetter(name)}: ${repos[j].stargazers_count}</span>
            </a>
            `)
      }
    }
  })
  </script>
<% else %>
<div class="container">
  <div class="danger">
    <h1><%= @error %></h1>
  </div>
</div>
<% end %>
