
  <script>
  $(document).ready(() => {
    let repos = JSON.parse(`<%= @user_repos.to_s.html_safe %>`)
    let list = $('#repos-list')

    listStargazers()

    function sortRepos(element){
      return Object.keys(repos).sort((a,b) => {
        return repos[b][element] - repos[a][element]
      })
    }

    function listStargazers(){
      let sorted = sortRepos("stargazers_count")

      list.empty()

      for(let i = 0; i < sorted.length && i < 5; i+=1){
        let j = sorted[i]

        list.append(`
            <a href='${repos[j].html_url}' class="list-group-item"><strong>${repos[j].name}</strong>
            <span class="label label-warning pull-right">Stargazers: ${repos[j].stargazers_count}</span>
            </a>
            `)
      }
    }

    function listWatchers() {
      let sorted = sortRepos("forks_count")

      list.empty()

      for(let i = 0; i < 5; i+=1){
        let j = sorted[i]

        list.append(`
            <a  href='${repos[j].html_url}' class="list-group-item"><strong>${repos[j].name}</strong>
            <span class="label label-success pull-right">Forks: ${repos[j].forks_count}</span>
            </a>
            `)
      }
    }

    $('.sort#stargazers').on('click', (event) => {
      event.preventDefault()

      listStargazers()
    })

    $('.sort#forks').on('click', (event) => {
      event.preventDefault()

      listWatchers()
    })
  })
  </script>
  <div class="content">
    <div class="page-header">
      <h1><%= @user %></h1>
    </div>
<% unless @error.present? %>
    <div>
      <button class="btn btn-default btn-sm sort" id="stargazers">Stargazers</button>
      <button class="btn btn-default btn-sm sort" id="forks">Forks</button>
    </div>

    <h3>Top 5 repositories:</h3>
    <div id="repos-list" class="list-group">

    </div>
  </div>
<% else %>
<div class="container">
  <div class="danger">
    <h1><%= @error %></h1>
  </div>
</div>
<% end %>
