// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  display:flex;
  flex-direction:column;
  align-items:center;
}

@media (max-width: 992px) {
  .col-xs-12:not(:first-child) {
    padding-top: 10px;
  }
}
