<!DOCTYPE html>
<html>
  <head>
    <title>GitList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-right">
        <p class="navbar-text">Created by: <a href="https://github.com/jackie-ell">Jackie Ellenberger</a></p>
      </div>
    </div>
  </nav>
</html>
